@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.location{
    width: 100%;
    height: 200px;
}
.welcome{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f3f5f4;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.welcome>*{
    width: 50%;
}
.welcome>img{
    width: 150px;
    border-right: 5px solid var(--theme_color);
    margin-right: 100px;
    padding-right: 20px;
}
.welcome p{
    margin: 15px 0;
}


.testimonial-container {
  background-color: #596275;
  color: white;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-left {
  left: 40px;
}

.fa-quote-right {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: white;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}


.team_member {
  margin-top: 50px;
}
.team_member>h2{
    text-align: center;
}
 .team_member img{
   border-radius: 50%;
 }
.team_member .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.team_member .team .member {
  width: 325px;
  margin: 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}

.team_member .team .member img {
  width: 80px;
}

.team_member .team .member h3 {
  color: #444;
}


.team_member .team .member p {
  margin: 15px 0;
  font-weight: 400;
  color: #999;
  font-size: 15px;
  text-align: justify;
}

 