.location{
    width: 100%;
    height: 200px;
}
.welcome{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f3f5f4;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.welcome>*{
    width: 50%;
}
.welcome>img{
    width: 150px;
    border-right: 5px solid var(--theme_color);
    margin-right: 100px;
    padding-right: 20px;
}
.welcome p{
    margin: 15px 0;
}